artifact/data_ingestion
artifact/data_transformation
artifact/model_evaluation
data
env
notebook
demo.py
demo1.py
demo2.py
demo3.py
demo4.py
logs
.vscode
.flake8
.isort.cfg
awscliv2.zip
NER_Project.egg-info
notes.txt
.git